@{
    ViewData["Title"] = "Popcorn Portal";
}

<div class="text-center">
    <header>
        <h1 class="display-4">Welcome to Popcorn Portal!</h1>
    </header>
</div>
   
<div class="text-box">
    <h2>Your Gateway to Movie Magic</h2>
    <p>Discover a world of films, from timeless classics to the latest blockbusters. 
    Dive into detailed information about your favorite movies and the talented actors 
    who bring them to life. Whether you're a cinephile or just looking for your next 
    movie night pick, Popcorn Portal has you covered!</p>
</div>

